/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: sticky;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  height: 4.6875rem;
  padding: 0 1rem 0 1rem;
}

/* Header Left Secction */
.left-section {
  display: flex;
  margin-top: 2em;
  margin-left: 3.75em;
}
.gg-link {
  font-weight: 600;
  font-size: 1.5rem;

  text-decoration: none;
  color: #1d1d1f;
}

/* Header Right Seaction  */
.header .right-section {
  display: flex;
  margin-top: 2em;
  margin-right: 3.75em;
}
.right-section a {
  text-decoration-color: #ffde59;
  text-decoration: none;
  color: #1d1d1f;
  margin-left: 2.2em;
}
.right-section a:hover {
  text-decoration: underline;
  text-decoration-color: #ffde59;
  text-decoration-thickness: 0.25em; /* .25rem / 1rem = 0.25em */
}
.list {
  list-style: none;
  display: flex;
}
.selected {
  text-decoration: underline;
  text-decoration-color: #ffde59;
  text-decoration-thickness: 0.25em;
}

/* Main */
#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem; /* 80px / 16px = 5rem */
}
.about-info {
  display: grid;
  margin-top: 0;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  font-size: 1rem; /* 16px / 16px = 1rem */
  line-height: 1.6em; /* 25.6px / 16px = 1.6em */
}
.img-character {
  height: auto;
}
.about-me {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  font-size: 1.5rem;
  color: #f4cf39;
}

/* Get In Touch */
.get-in-touch {
  display: flex;
  column-gap: 0.4375rem; /* 7px / 16px = 0.4375rem */
  margin-bottom: 0.3125rem; /* 5px / 16px = 0.3125rem */
  margin-left: -0.625rem; /* -10px / 16px = -0.625rem */
}
.touch-icon {
  width: 2.25em; /* 36px / 16px = 2.25em */
  margin: 0.625rem; /* 10px / 16px = 0.625rem */
  transition: transform 0.2s ease-in-out;
  color: yellow;
}
.touch-icon:hover {
  transform: scale(1.1);
}

/* Footer */
.footer {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f7;
}
.footer .middle-section {
  display: flex;
  flex-direction: column;
}
.credit-container,
.contact-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 0;
  text-align: center;
}
.footer-text,
.footer-click {
  text-decoration: none;
  color: var(--color-black);
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
  transition: all 0.15s;
}
.footer-click:hover {
  /* text-decoration: underline;
  text-decoration-color: var(--color-black);
  text-decoration-thickness: 0.1rem; */
  border-bottom: solid var(--color-black) 0.1rem;
}

/* General */
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;

  background-color: #fafafa;
  color: #1d1d1f;
  font-family: Montserrat;
}
button {
  font-family: Montserrat;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Media */
@media (max-width: 900px) {
  /* Header */
  .header .left-section,
  .header,
  .header .right-section {
    margin: 0;
  }
  /* Main Section */
  .about-info {
    grid-template-columns: 1fr;
  }
  .img-character {
    display: none;
  }
  /* Footer */
  .footer-text {
    font-size: 0.875rem;
  }
}
