/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
}
/* Header Left Secction */
.left-section {
  display: flex;
  margin-top: 2em;
  margin-left: 3.75em;
}
.gg-link {
  font-weight: 600;
  font-size: 1.5rem;

  text-decoration: none;
  color: black;
}

/* Header Right Seaction  */
.header .right-section {
  display: flex;
  margin-top: 2em;
  margin-right: 3.75em;
}
.right-section .button-header {
  margin-left: 2.2em;
}
.right-section .button-header a {
  text-decoration: none;
  color: black;
}
.right-section .button-header a:hover {
  text-decoration: underline;
  text-decoration-color: #ffde59;
  text-decoration-thickness: 0.25em; /* 4px / 16px = 0.25em */
}

/* Main */
#main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem; /* 80px / 16px = 5rem */
}
.about-info {
  display: grid;
  margin-top: 0;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  font-size: 1rem; /* 16px / 16px = 1rem */
  line-height: 1.6em; /* 25.6px / 16px = 1.6em */
}
.img-character {
  height: auto;
}
.about-me {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  font-size: 1.5rem;
  color: #f4cf39;
}

/* Get In Touch */
.get-in-touch {
  display: flex;
  column-gap: 0.4375rem; /* 7px / 16px = 0.4375rem */
  margin-bottom: 0.3125rem; /* 5px / 16px = 0.3125rem */
  margin-left: -0.625rem; /* -10px / 16px = -0.625rem */
}
.touch-icon {
  width: 2.25em; /* 36px / 16px = 2.25em */
  margin: 0.625rem; /* 10px / 16px = 0.625rem */
  transition: transform 0.2s ease-in-out;
  color: yellow;
}
.touch-icon:hover {
  transform: scale(1.1);
}

/* Footer */
.footer {
  display: flex;
  position: sticky;
  height: 3.125rem; /* 50px / 16px = 3.125rem */
  left: 0;
  right: 0;
  justify-content: space-between;
}

/* General */
body {
  background-color: #fafafa;
  font-family: Montserrat;
  padding-bottom: 0.625rem; /* 10px / 16px = 0.625rem */
}
button {
  font-family: Montserrat;
}
/* Media */
@media (max-width: 37.5em) {
  .about-info {
    grid-template-columns: 1fr;
  }
  .img-character {
    display: none;
  }
}
