/* Navbar */
#navbar {
  display: flex;
  flex-direction: column;
  position: sticky;
  float: left;
  width: fit-content;
  top: 4.6875rem;
  padding: 2rem 0 0 4rem;
  z-index: 1000;
}
#navbar a {
  font-weight: 400;
  font-size: 1.25rem;

  padding: 0.5rem 0 0.5rem 0;
  position: relative;
  text-decoration-color: #ffde59;
  text-decoration: none;
  color: #1d1d1f;
}
html {
  scroll-behavior: smooth;
}

@media (max-width: 900px) {
  /* Navbar Adjustment */
  #navbar {
    display: none;
  }
}
